.stat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    /* margin: 5rem 10rem; */
}

.stat .cnt{
    margin:0 10rem;
    align-items: center;
    text-align: center;
}

.stat .cnt h1{
    color: var(--color-1);
}

.stat hr{
    color: var(--color-1);

}
.bg-stat{
    display: flex;
    float: right;
}